<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>videoChatApp</title>
        <link rel="stylesheet" href="style.css" />
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
        <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
 
    </head>

    <body>  
        <div class="video-panel">
            <div class="left-panel">
                <video id="my-video" autoplay muted></video>
                <div class="panel-overlay"></div>
                <div class="panel-overlay bottom"> 
                    <div class="content">Me</div>
                </div>
            </div>
            <div class="right-panel"> 
                <video id="guest-video" autoplay></video>
                <div class="panel-overlay"></div>
                <div class="panel-overlay bottom">
                    <div class="content">Guest 
                        <span id="guest-username"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="options">
            <div class="left">
                <label id="my-username">user</label>
            </div>
            <div class="right">
                <label id="my-status" style="margin-right: 20px;"></label>
                <button id="btn-stop" style="display: none;background-color: brown;">Stop</button>
                <button id="btn-start" >Start</button>

            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>

</html>